.form {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  /*flex-direction: column; */
}

.label {
  margin-right: 20px;
  padding-top: 10px;

  font-size: 18px;
  font-weight: 500;
}
.input {
  display: block;

  padding: 10px 0;
  width: 300px;
  height: 10px;

  border: none;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #2cac60;
  border-radius: 4px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 10px;
  width: 300px;
  height: 50px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: #fff;
  background-color: #2cac60;

  border: none;
  border-radius: 3px;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #1d974e;
}

@media screen and (max-width: 1023px) {
  .form {
    align-items: center;
    flex-direction: column;
  }

  .label {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .btn {
    margin: 10px auto;
    width: 300px;
    height: 40px;
  }
}
