.form {
  display: flex;
  flex-direction: column;
  width: 300px;

  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 5px;
  width: 200px;

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  color: #fff;
  background-color: #2cac60;

  border: none;
  border-radius: 3px;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #1d974e;
}

@media screen and (min-width: 768px) {
  .form {
    width: 450px;
  }
}
